@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body, #root {
  height: 100vh;
  margin: 0;
}

body, button, input, select, textarea {
  font-size: 1.6rem;
  font-family: Montserrat, Helvetica, Arial, sans-serif
}

.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 5rem 1fr 5rem ;
  grid-template-columns: 1fr;
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #ff8000;
}

header {
  align-items: center;
  background-color: #203040;
  color: white;
  display: flex;
  grid-area: header;

  padding: 0.5rem;

}

header a {
  color: white;
  text-decoration: none;
}

main {
  grid-area: main;
}

footer {
  align-items: center;
  background-color: #203040;
  color: white;
  display: flex;
  grid-area: footer;
  justify-content: center;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.main {
  flex: 3 60rem
}

.sideBar{
  flex: 1 20rem;
}

/* PRODUCTS */

.products {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.products li {
  flex: 0 1 29rem;
  height: 47rem;
  padding: 1rem;


}

.product{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product img{
  max-width: 37rem;
  max-height: 37rem;
}

.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price div,
.product-price button {
  text-align: center;
  flex: 1;
}

.product-price div {
  font-size: 2rem;
}

.button {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  background-color: #f0f0f0;
  cursor: pointer;
}

.button:hover{
  border: 0.2rem #808080 solid;
  color:white;;
}

.button.primary {
  background-color: #f0c040;

}

/* FILTER COMPONENT */

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}

.filter div {
  flex: 1;
}